*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header {
    height: 40PX;
    background-color: rgba(46, 58, 70, 1);
}
.logo {
    width: 35px;
    line-height: 40px;
}
.song {
    background-color: rgba(46, 58, 70, 1);
    padding: 1rem;
    margin: 0.5rem 1rem;
}
.song > img {
    width: 120px;
    height: 120px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
}
body {
    background-color: rgba(30, 45, 59, 1);
}